.createProduct-main{
    background-color: #f7f7f7;
    padding: 50px;
}
.createProduct-main > h1{
    margin: auto;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    font-family: cursive;
    font-size: 26px;
    font-weight: 600;
    color: grey;
}
.createProduct-form{
    margin: auto;
    width: 350px;
    height: max-content;
    background: #FFFFFF;
    padding: 50px;
}
.createProduct-form > div{
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    height: max-content;
}
.createProduct-form > div > h4{
    font-size: 16px;
    font-weight: 100;
    margin: 7px auto;
    font-family: "Roboto";
}
.createProduct-form > div > input{
    width: 80%;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 25px;
    padding: 5px;
    outline: none;
    font-size: 14px;
    background: #FFFFFF;
}
.createProduct-form > div > textarea{
    scroll-behavior: auto;
    outline: none;
}
.createProduct-form > div > select{
    width: 80%;
    text-align: center;
    height: 2vmax;
    font-size: 11px;
    font-weight: 100;
    font-family: cursive;
    outline: none;
    cursor: pointer;
}
.createProduct-form > div > img{
        margin: 10px;
    width: 80px;
}
.create-btn{
    margin: auto;
    width: 60%;
    justify-content: center;
    display: flex;
    text-align: center;
    height: 2vmax;
    align-items: center;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid gray;
    background: rgb(45,105,235);
    color: #FFFFFF;
    transition: all 0.5s;
}
.create-btn:hover{
    background-color: rgb(36, 72, 148);
}